node_modules/
pnpm-debug.log*
.env
dist/
build/
coverage/

*.log
.DS_Store

.git/
.gitignore

.vscode/
.idea/
*.iml

docker-compose.yaml
Dockerfile
.docker
.dockerignore

**/*.swp
**/*.swo
**/*~

.env*
.flaskenv*
!.env.project
!.env.vault
